.container {
    width: 300px;
}

button {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

button.current {
    box-shadow: 0 0 0 2px white,
    0 0 0 4px black;
}